body{
    background-color: black;
    position: relative;
    margin: 0px;
}
#container{
    background-color: white;
    width: 1000px;
    height: 400px;
    position: absolute;
}
h1{
    font-size: 48px;
    color: blue;
}
p{
    font-size: 24px;
}
.textCenter{
    text-align: center;
}
span{
    color: red;
}